.site-nav-toggle, .site-nav-right {
  display: none;
  background-color: #272B34;
  +mobile() {
    flex-column();
  }

  .toggle {
    padding: 10px;
    width: 22px;

    .toggle-line {
      border-radius: 1px;
    }
  }
}

.site-nav {
  display: block;

  +mobile() {
    clear: both;
    display: none;
  }

  &.site-nav-on {
    display: block;
  }
}
